
    <header>
        <nav >
            <ul class=" nav-bar">
                <li><a href="/">Home</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/list">User List</a></li>
            </ul>
        </nav>
    </header>