<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>users List</title>
</head>
<body class="body-userList">
    <%- include('../partials/header.ejs') %>
    <h1>User List</h1>
    <ul>
        <% for (let i=0 ; i < users.length;  i++) { %>
        <li>
            <a href="/user/detail/<%=users[i] %>"><%= users[i].name %></a> 
         
            <form method="POST" action="/users/<%=i %>/delete?_method=DELETE">
                <button type="submit">Delete</button></form>
            
        </li>
        <% } %>
    </ul>
    <h2 class="search-bar-title">Search</h2>
    <form action="/users/search" method="GET">
        <input type="text" name="searchBar">
        <input type="submit" value="buscar">
    </form>
</body>
</html>